<html ng-app="nginxLogApp">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">NGINX log Parser</a>
    </div>
</nav>

<div class="container" ng-view></div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-touch.js"></script>
<script src="scripts/module.js"></script>
<script src="scripts/controllers/nginxCtrl.js"></script>
<script src="scripts/services/nginxService.js"></script>
<script src="scripts/config.js"></script>
</body>
</html>